<!-- Start Team Area -->
<section id="team" class="team">
  <div class="container">
    <div class="row">
      <div class="col-md-4 content">
        <p class="theme-heading">Team</p>
        <h2 class="section-heading">Get Quality Education</h2>
        <p>
          Problems trying to resolve the conflict between the two major
          realms of Classical physics: Newtonian mechanics
        </p>
      </div>
      <div class="row">
        <div class="card col-2">
          <div class="card-body">
            <img
              class="img-fluid"
              src="/asserts/user-cover-1.png"
              alt="user 1"
            />
            <h5 class="fw-bold">Julian Jameson</h5>
            <p class="text-muted">Profession</p>
            <div class="d-flex justify-content-center">
              <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
              <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
              <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
            </div>
          </div>
        </div>

        <div class="card col-2">
          <div class="card-body">
            <img
              class="img-fluid"
              src="/asserts/user-cover-2.png"
              alt="user 2"
            />
            <h5 class="fw-bold">Julian Jameson</h5>
            <p class="text-muted">Profession</p>
            <div class="d-flex justify-content-center">
              <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
              <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
              <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
            </div>
          </div>
        </div>

        <div class="card col-2">
          <div class="card-body">
            <img
              class="img-fluid"
              src="/asserts/user-cover-3.png"
              alt="user 3"
            />
            <h5 class="fw-bold">Julian Jameson</h5>
            <p class="text-muted">Profession</p>
            <div class="d-flex justify-content-center">
              <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
              <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
              <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
            </div>
          </div>
        </div>

        <div class="card col-3">
          <div class="card-body">
            <img
              class="img-fluid"
              src="/asserts/user-cover-4.png"
              alt="user 4"
            />
            <h5 class="fw-bold">Julian Jameson</h5>
            <p class="text-muted">Profession</p>
            <div class="d-flex justify-content-center">
              <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
              <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
              <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <h2 class="section-heading">Carousel</h2> -->
  </div>
</section>
<!-- /End Team Area -->
