<div class="row text-smm-center">
  <div class="col-md-2 col-sm-6">
    <h6 class="fw-bold">Company Info</h6>
    <ul class="list-unstyled">
      <li>
        <a href="#!" class="text-grey hero-font">About Us</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font">Carrier</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font">We are hiring</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font">Blog</a>
      </li>
    </ul>
  </div>
  <div class="col-md-2 col-sm-6">
    <h6 class="fw-bold">Legal</h6>
    <ul class="list-unstyled">
      <li>
        <a href="#!" class="text-grey hero-font">About Us</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font">Carrier</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font">We are hiring</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font">Blog</a>
      </li>
    </ul>
  </div>
  <div class="col-md-2 col-sm-6">
    <h6 class="fw-bold">Features</h6>
    <ul class="list-unstyled">
      <li>
        <a href="#!" class="text-grey hero-font">Link 1</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font">Link 2</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font">Link 3</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font">Link 4</a>
      </li>
    </ul>
  </div>
  <div class="col-md-2 col-sm-6">
    <h6 class="fw-bold">Resources</h6>
    <ul class="list-unstyled">
      <li>
        <a href="#!" class="text-grey hero-font">Link 1</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font">Link 2</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font">Link 3</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font">Link 4</a>
      </li>
    </ul>
  </div>
  <div class="col-md-4 col-sm-12">
    <h6 class="fw-bold">Get In Touch</h6>
    <ul class="list-unstyled ">
      <li>
         <a href="#!" class="text-grey hero-font"> <img class="pe-2" src="./assets/img/contact.svg" alt="">(480) 555-0103</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font"> <img class="pe-2" src="./assets/img/location.svg" alt="">4517 Washington Ave. Manchester,
          Kentucky 39495</a>
      </li>
      <li>
        <a href="#!" class="text-grey hero-font"> <img class="pe-2" src="./assets/img/email.svg" alt="">debra.holt@example.com</a>
      </li>
    </ul>
  </div>
</div>
