<!-- Start Product Area -->
<section id="product" class="product">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 product-heading">
        <div class="product-dash"></div>
        <h2 class="section-heading">Affordable Packages</h2>
        <div class="product__content">
          <p>
            Problems trying to resolve the conflict between the two major realms
            of Classical physics: Newtonian mechanics
          </p>
          <button class="learn-more">Learn More</button>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="product-card text-smm-center">
          <img
            src="./assets/img/012-blackboards.svg"
            alt="012-blackboards"
            class="icon"
          />
          <h4>Certified Teacher</h4>
          <div class="product-card__dash"></div>
          <p>The gradual accumulation of information about</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="product-card text-smm-center">
          <img
            src="./assets/img/013-telescope-1.svg"
            alt="013-telescope-1"
            class="icon"
          />
          <h4>Expert Instruction</h4>
          <div class="product-card__dash"></div>
          <p>The gradual accumulation of information about</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /End Product Area -->
