<nav class="navbar navbar-light">
  <div class="container-fluid wrapper">
    <div>
      <i class="list-icon bi bi-list"></i>
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logo.png" alt="" width="80" height="60" />
      </a>
    </div>

    <div class="d-flex" style="position: relative">
      <i class="bi bi-bell notification-icon"></i>
      <div class="profile-tab">
        <div class="user-icon">
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="user-wrapper">
          <span class="designation">Head Office</span>
          <span class="user-name">Raman Bajaj</span>
        </div>
      </div>
    </div>
  </div>
</nav>
