<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
>
  <div class="col-md-4 d-flex align-items-center">
    <span class="text-muted"
      >© 2023 Little Millennium. All Rights Reserved.</span
    >
  </div>

  <div class="col-md-4 d-flex align-items-center">
    <a class="underline-none text-muted pl-3">Terms & Conditions</a>
    <a class="underline-none text-muted pl-3">Privacy & Policy</a>
    <a class="underline-none text-muted pl-3">Help</a>
  </div>
</footer>
