/* You can add global styles to this file, and also import other style files */

html, body{
  font-family: 'Montserrat';
}
.hero-page {
  background: #fff2f3;
}

.product {
  padding: 160px 0px;
}

@media (max-width: 992px) {
  .product {
    padding: 80px 0px 0px;
  }
  .team {
    padding: 56px 0px 0px;
  }
  .newsletter {
    padding: 80px 0px 0px;
  }
}

.team {
  padding: 112px 0px 0px;
}

.newsletter {
  padding: 160px 0px 0px;
}

.footer {
  padding: 48px 0px 0px;
}

.product-card {
  background: #ffffff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 32px;
  margin: 8px;
}

.product-dash {
  width: 94px;
  height: 7px;
  background: #e74040;
}

.product-heading {
  display: grid;
}

.section-heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #252b42;
}

.learn-more {
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #96bb7c;
  text-decoration: none;
  font-size: 20px;
  border: 0px;
  background-color: #ffffff;
}

.product-card h4 {
  font-size: 16px;
}

.product-card .dash {
  width: 50px;
  height: 2px;
  background: #e74040;
  margin: 8px 0px;
}

.product-card .icon {
  width: 70px;
  height: 76px;
  margin-bottom: 8px;
  background: #96bb7c;
  border-radius: 8px;
  padding: 22px 18px;
}

.hero-btn {
  border-radius: 6px;
  padding: 16px 36px;
  align-items: center;
  height: 52px;
}

@media (min-width: 992px) {
  .containerMobile {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .containerDesktop {
    display: none !important;
  }
}

.hero-btn-primary {
  background-color: #96bb7c;
  color: #ffffff;
  text-decoration: none;
}

.hero-btn-primary:hover {
  background-color: #96bb0c;
}

.hero-btn-secondary {
  border: 1px solid #96bb7c;
  color: #96bb7c;
  text-decoration: none;
}

.hero-btn-secondary:hover {
  border: 1px solid #96bb0c;
}

/* Common Styles */
.theme-heading {
  color: #96bb7c;
}

.hero-font {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;

  @media (max-width: 992px) {
    padding: 12px 18px;
  }

}

.text-grey {
  color: #737373;
}

/* newsletter style */

.newsletter {
  background: #fff2f3;
}

.newsletter {
  padding: 160px 0;
}

.newsletter .content .input-group {
  padding: 80px 0 0;
}

.newsletter .content .input-group .form-control {
  height: 58px;
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
}

.newsletter .content .input-group .form-control:focus {
  box-shadow: none;
  border: 2px solid #96bb7c;
}

.newsletter .content .input-group .btn {
  min-height: 58px;
  color: #fff;
  font-weight: 600;
  background: #96bb7c !important;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
}

// Media Queries
@media (max-width: 992px) {
  .text-smm-center {
    text-align: center;
  }
}
