.sidebar-container {
  background-color: #00afef;
  height: 100vh;

  .active {
    color: grey;
    background-color: #fff;
    &::after {
      content: "";
      position: absolute;
      right: 16px;
      top: 16px;
      border: solid grey;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }

  ul {
    li {
      padding: 4px 0px 4px 0px;
      a {
        position: relative;
        i {
          padding-right: 8px;
        }
      }
    }
  }
}
