<div class="sidebar-container d-flex flex-column flex-shrink-0 p-3">
  <ul class="nav nav-pills pt-4 flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link link-light" aria-current="page">
        <i class="bi bi-house"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light">
        <i class="bi bi-person"></i>
        Student
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light">
        <i class="bi bi-people"></i>
        Resource
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light">
        <i class="bi bi-cart3"></i>
        Indent
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light">
        <i class="bi bi-receipt"></i>
        Invoice and Receipt
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light">
        <i class="bi bi-currency-rupee"></i>
        Fee Structure
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light">
        <i class="bi bi-calendar2"></i>
        Time Table
      </a>
    </li>
    <li>
      <a href="#" class="nav-link active">
        <i class="bi bi-file-earmark-bar-graph"></i>
        Reports
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-light">
        <i class="bi bi-download"></i>
        Downloads
      </a>
    </li>
  </ul>
</div>
