<!-- Start Footer Area -->
<section id="footer" class="footer justify-content-between">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h6 class="fw-bold">Company Info</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-grey">About Us</a>
          </li>
          <li>
            <a href="#!" class="text-grey">Carrier</a>
          </li>
          <li>
            <a href="#!" class="text-grey">We are hiring</a>
          </li>
          <li>
            <a href="#!" class="text-grey">Blog</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="fw-bold">Legal</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-grey">About Us</a>
          </li>
          <li>
            <a href="#!" class="text-grey">Carrier</a>
          </li>
          <li>
            <a href="#!" class="text-grey">We are hiring</a>
          </li>
          <li>
            <a href="#!" class="text-grey">Blog</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="fw-bold">Features</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-grey">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-grey">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-grey">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-grey">Link 4</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <h6 class="fw-bold">Resources</h6>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="text-grey">Link 1</a>
          </li>
          <li>
            <a href="#!" class="text-grey">Link 2</a>
          </li>
          <li>
            <a href="#!" class="text-grey">Link 3</a>
          </li>
          <li>
            <a href="#!" class="text-grey">Link 4</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h6 class="fw-bold">Temp</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 pt-5 d-flex justify-content-between">
        <!-- Left -->
        <span>Made With Love By Figmaland All Right Reserved </span>
        <!-- Left -->

        <!-- Right -->
        <ul>
          <a href="#" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="#" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /End Footer Area -->
