<!-- Start Hero Area -->
<section class="hero-page text-smm-center">
  <div class="container">
    <div class="row text-md-center justify-content-between">
      <div class="col-md-6 text-md-start display-grid">
        <div class="hero-header__content">
          <p class="theme-heading welcome">Welcome</p>
          <h1 class="hero-title"><b>Best Learning Opportunities</b></h1>
          <p class="my-4">Our goal is to make online education work for everyone</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <a href="#" class="hero-btn hero-font me-3 hero-btn-primary">Join Us</a>
            <a href="#" class="hero-btn hero-font hero-btn-secondary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-5 text-center">
        <img class="img-fluid" src="./assets/img/hero-cover-1.png" alt="#" />
      </div>
    </div>
  </div>
</section>
<!-- /End Hero Area -->
