<!-- Start Hero Area -->
<section class="hero-page">
  <div class="container">
    <div class="row text-md-center justify-content-center">
      <div class="col-md-5 text-md-start">
        <div class="hero-header-content">
          <p class="theme-heading">Welcome</p>
          <h1><b>Best Learning Opportunities</b></h1>
          <p>Our goal is to make online education work for everyone</p>
          <div class="button">
            <a href="#" class="hero-btn hero-btn-primary">Join Us</a>
            <a href="#" class="hero-btn hero-btn-secondary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-md-5 text-center">
        <img class="img-fluid" src="asserts/hero-cover-1.png" alt="#" />
      </div>
    </div>
  </div>
</section>
<!-- /End Hero Area -->
